.global_footer
  .recent
    %h2 Recent Articles
    %ul
      - blog.articles[0...10].each do |article|
        %li
          = link_to article.title, article
  .tags
    %h2 Tags
    %ul
      - blog.tags.each do |tag, articles|
        %li
          = link_to tag, tag_path(tag)
          (#{articles.size})
  .by_year
    %h2 By Year
    %ul
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        %li
          = link_to year, blog_year_path(year)
          (#{articles.size})

= google_analytics_tag