---
pageable: true
per_page: 3
---

%nav.topic_path
  %ul
    %li
      = link_to 'Top', '/'
    %li
      - case page_type
      - when 'day'
        = Date.new(year, month, day).strftime('Day: %Y-%m-%d')
      - when 'month'
        = Date.new(year, month, 1).strftime('Month: %Y-%m')
      - when 'year'
        = "Year: #{year}"
      - when 'tag'
        = "Tag: #{tagname}"

= partial "articles", locals: { page_articles: page_articles }

- if paginate
  %ul.paginate
    - if prev_page
      %li= link_to '&lt; 前のページ', prev_page
    - if next_page
      %li= link_to '次のページ &gt;', next_page