---
pageable: true
---
%h1.page_type
  Archive: 
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime('%Y-%m-%d')
  - when 'month'
    = Date.new(year, month, 1).strftime('%Y-%m')
  - when 'year'
    = year
  - when 'tag'
    = tagname
= partial "articles", locals: { page_articles: page_articles }

- if paginate
  %ul.paginate
    - if prev_page
      %li= link_to '&lt; 前のページ', prev_page
    - if next_page
      %li= link_to '次のページ &gt;', next_page