---
pageable: true
per_page: 5
---
- page_articles.each do |article|
  .article
    .meta
      .published_at
        = article.date.strftime('%Y-%m-%d')
        = article.date.strftime('%H:%M')
      %ul.tags
        - article.tags.each do |tag|
          %li
            = link_to tag, tag_path(tag)
    .main
      %h2
        = link_to article.title, article
      -# = article.body
      = article.summary(500)
      %p.continue
        = link_to '続きを読む &raquo;', article
- if paginate
  %ul.paginate
    - if prev_page
      %li= link_to '&lt; 前のページ', prev_page
    - if next_page
      %li= link_to '次のページ &gt;', next_page
