---
pageable: true
per_page: 3
---
%nav.topic_path
  %ul
    - if paginate && page_number > 1
      %li
        = link_to 'Top', '/'
      %li= "Page: #{page_number}"

= partial "articles", locals: { page_articles: page_articles }

- if paginate
  %ul.paginate
    - if prev_page
      %li= link_to '&lt; 前のページ', prev_page
    - if next_page
      %li= link_to '次のページ &gt;', next_page